html, body {
	height: 100%;
	width: 100%;
	background-color: white;
}

.header {
	background-color: #333;
	height: 10%;
	width: 100%;
}

.text {
	width: 50%;
	margin: 5%;
	position: relative;
	

}

.box {
	height: 35%;
	width: 35%;
	background-color: #D8D8D8;
	float: right;
	position: absolute;
	top: 200px;
	right: 100px;
}

.subtext {
	display: inline-block;
	color: white;
	font-size: 16px;
	font-family: sans-serif;
	margin-right: 3%;
	margin-left: 3%;
	padding-top: 2%;
}